<div id="exercise" class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto asd">
            {{>messages}}
            <h1>Project work of Quality Content:D</h1>
            <h2>Please login or register to play our awesome fish game that uses the latest graphics available</h2>
            <img src="games/fisu.gif" alt="kala uimassa:D"></img>
            <br>
            <i>"The best part was the one where you swim as a fish"</i>
            <br>
            <b>10/10 — IGN</b>
        </div>
    </div>
</div>

<style>
    .asd {
        text-align: center;
    }

    img {
        width: 150px;
        height: 150px;
    }

    b {
        font: 20px;
    }
</style>